* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --navbar-height: 59px;
}

#navbar {
    /* position: relative; */
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    
}

#navbar::before {
    content: "";
    background-color: rgba(0, 0, 0, .75);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

#logo {
    margin: 10px 40px;
}

#logo img {
    height: 100px;
    margin: 3px 6px;
    border-radius: 100%;
}

#navbar ul {
    display: flex;
    font-family: "Baloo Bhai 2", cursive;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: white;
    display: block;
    /* font-size: 1.3rem; */
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}

/* Home section */

#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 500px;
    justify-content: center;
    align-items: center;
}

#home::before {
    content: "";
    background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("../bg1.jpg") no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 640px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1 {
    color: white;
    text-align: center;
    font-family: "Bree Serif", serif;
    padding: 40px;
}

#home p {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: "Bree Serif", serif;
    padding: 1px;
}

/* utility classes */
.h-primary {
    font-family: "Bree Serif", serif;
    font-size: 2.8rem;
    
}


.h-secondary {
    font-family: "Bree Serif", serif;
    font-size: 2.3rem;
    padding: 12px;
}

.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: rgba(165, 42, 42, 1);
    color: white;
    margin: 37px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.btn:hover{
    background-color: rgba(165, 42, 42, .8);
}
.center {
    padding-top: 15px;

    text-align: center;
    font-family: "Bree Serif", serif;
}

/* services section */

#services-container{
    background-color:whitesmoke;
}
#services {
    margin: 34px;
    display: flex;
}

#services .box {
    padding: 34px;
    margin: 25px 25px;
    border-radius: 28px;
    background: #f2f2f2;
    justify-content: space-evenly;
    box-shadow: 0 0 25px 10px rgba(0,0,0,0.75);
    transition: all .3s ease-in-out;
}
#services .box:hover {
    transform: scale(1.05);
}

#services .box img {
    display: block;
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    /* align-items: center; */
    margin: auto;
    height: 160px;
    /* width: 100px; */
    /* object-fit: fill; */
    /* no-repeat center center/cover; */
}

#services .box p {
    font-family: "Bree Serif", serif;
}

/* client section */
#client-section {
    position: relative;
    z-index: -1;
    color: #FFF;
}

#client-section::before {
    content: "";
    position: absolute;
    /* background: url("../bg.jpg"); */
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../ob.jpg") no-repeat center center/cover;
    width: 100%;
    height: 100px;
    z-index: -1;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;;
}

.client-item {
    padding: 34px;

}

#clients img {
    margin: 40px 40px;
    height: 80px;
    
}

/* contact section */



#contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 80%;
    z-index: -1;
    background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(../contact.jpg) no-repeat center center/cover;
}

#contact{
    color: #FFF;
}

footer {
    background: rgb(12, 12, 12);
    color: white;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
    margin-bottom: 20px;
    margin-top: 10px;
    border: 1px solid black;
}

#contact-box textarea {
    height: 80px;
}

#contact-box form {
    width: 40%;
}


#contact-box label {
    font-size: 1.3rem;
    font-family: "Bree Serif", serif;
    
    
}

.btn2{
    padding: 8px 20px;
    background-color: rgba(241, 241, 241, 1);
    color: #000;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.btn2:hover{
    background-color: rgba(241, 241, 241, .9);
}
